body{
    background-image: linear-gradient(to bottom, #9a129e, #d50064, #db5430, #c08c0e, #93b743);
    text-align: center;
    margin: 0px;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
.c1{
    background: aqua;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}
ul li{
    float:right;
    margin:20px;
    padding-right: 30px;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: auto;
}
.c2{

    align-items: center;
    text-align: center;
    padding:30px;
    margin: 50px 100px;
}
.c2 button{
    padding:10px;
    width:"100%";
    cursor: pointer;
    margin:5px;
    border-radius: 5px;
    background-color:goldenrod;
}
.c2 button a{
    text-decoration: none;
    color:black;
}
.c2 button:hover{
    background-color:rgb(77, 238, 88);
    color:goldenrod;
    transition-duration: 0.5s;
}
.vamsi{
    background-image: url("https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    border: 2px solid red;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.c3{
    color:whitesmoke;
    text-align: center;
}
.c3 a{
    text-decoration: none;
    color:whitesmoke;
    padding: 9px;
    background: red;
    border-radius: 40px;
    justify-content: space-evenly;
}
.c3 a:hover{
    background: rgb(77, 238, 88);
    transition-duration: 0.5s;
}
.c3 h1{
    font-size:200px;
}

form{
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
form input,textarea{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
form label{
    font-size: 20px;
    padding: 20px;
}
form button{
    padding:10px;
    width:"100%";
    cursor: pointer;
    margin:5px;
    border-radius: 5px;
    background-color:goldenrod;
}
form button:hover{
        background-color:rgb(77, 238, 88);
        color:goldenrod;
        transition-duration: 0.5s;
}
.foo{
    background-color: black;
    color:whitesmoke;
    padding: 20px;
    text-align: center;
    height: 20%;
}